* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 18px;
}


.navbar{
    
    margin: 0 2px;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
    color: #f2f2f2;
    width: 100%;
   display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li{
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    font-size: 13px;
    margin: 0 8px;
   
    
    
}
.navbar ul li a{
    color:white;

}

.navbar ul li a:hover{
   
    color: red;
    
}

li a img {
    height: 25px;
    width: 25px;
    padding-top: 10px;
    
}

#search-btn {
    padding: 0px;
    margin: 0px;
   
}

.container{
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: antiquewhite;
}

.left {
    margin-left: 20px;
}

.left h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.left p {
    margin-bottom: 10px;
}
.footer-sec{
    display: flex;
    width: 100%;
    background-color:rgb(39, 33, 33);
    height: 100px;
    justify-content: center;
}
.left-side{
    color: #f2f2f2;
    margin-top: 37px;
    margin-right: 40px;
}